/* variable */

:root {
  --blokadu-red: #ff4e8e;
  --blokadu-blue: #2370cb;
  --text-size-blokadu: 100px;
  --text-size-secopndary-prime: 50px;
  --opacity-text-1: 40%;
  --opacity-text-prime: 100%;
}

/* animation */

@keyframes blokadu {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes b {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

@keyframes l {
  0% {
    transform: rotate(0deg) translateY(0px);
  }
  50% {
    transform: rotate(12deg) translateY(14px);
  }
  100% {
    transform: rotate(10deg) translateY(10px);
  }
}

@keyframes o {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes theLine {
  0% {
    opacity: 0%;
    transform: translate(-5px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    opacity: 100%;
    transform: translate(0px);
  }
}

@keyframes k {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(16deg);
  }
  100% {
    transform: rotate(12deg);
  }
}

@keyframes a {
  0% {
    transform: rotate(0deg) translateY(0px);
  }
  50% {
    transform: rotate(-15deg) translateY(-14px);
  }
  100% {
    transform: rotate(-10deg) translateY(-10px);
  }
}

@keyframes d {
  0% {
    transform: rotate(0deg) translateY(0px);
  }
  50% {
    transform: rotate(-20deg) translateY(0px);
  }
  100% {
    transform: rotate(-15deg) translateY(0px);
  }
}

@keyframes u {
  0% {
    transform: rotate(0deg) translateX(0px);
  }
  50% {
    transform: rotate(10deg) translateX(-15px);
  }
  100% {
    transform: rotate(5deg) translateX(-10px);
  }
}

@keyframes opacity-text {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 60%;
  }
}

@keyframes balok1 {
  0% {
    transform: translate(900px, 200px) rotate(0deg);
  }
  75% {
    transform: translate(500px, 200px) rotate(50deg);
  }
  100% {
    transform: translate(500px, 200px) rotate(50deg);
  }
}

@keyframes balok2 {
  0% {
    transform: translate(-900px, 200px) rotate(10deg);
  }
  75% {
    transform: translate(-400px, 100px) rotate(-22deg);
  }
  100% {
    transform: translate(-400px, 100px) rotate(-20deg);
  }
}

@keyframes balok3 {
  0% {
    transform: translate(900px, 0px) rotate(0deg);
  }
  75% {
    transform: translate(-200px, -200px) rotate(33deg);
  }
  100% {
    transform: translate(-200px, -200px) rotate(30deg);
  }
}

/* Style */

* {
  font-family: "League Spartan", serif;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px; /* Lebar scrollbar */
}

::-webkit-scrollbar-track {
  background: white; /* Warna track scrollbar */
}

::-webkit-scrollbar-thumb {
  background: var(--blokadu-red); /* Warna thumb scrollbar */
  border-radius: 0px; /* Radius sudut thumb */
}
/* header */

header {
  width: 100%;
  min-width: 700px;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: transparent;
  transition: background-color 300ms ease-in-out filter 300ms ease-in-out
    backdrop-filter 300ms ease-in-out;
}
.blur {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  transition: all 300ms;
}
/* nav */

nav {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  height: 60px;
  flex-direction: column;
}
nav ul {
}

nav ul li {
  list-style: none;
  float: left;
  width : 2 em
}

nav a {
  text-decoration: none;
  color: white;
  opacity: var(--opacity-text-1);
  padding: 8px 10px;
  user-select: none;
}

nav a:hover {
  opacity: var(--opacity-text-prime);
}

/* main */
main {
  background-color: bisque;
  width: 100%;
}

main #content {
  width: 100%;
  min-width: 700px;
  height: auto;
  background-color: #ff4e8e;
  margin: auto;
}

.section {
  height: 100vh;
  margin: 0px 0px;
  background-color: aliceblue;
  padding: 50px;
}

#home {
  padding: 0;
}

/* Aside */

#sidebar {
  width: 150px;
  height: 100vh;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  display: flex;
  justify-content: right;
  align-items: center;
  user-select: none;
}

.sidebar-button {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px 10px;
  transform: translate(14vh, 0vh);
  transition: all 250ms;
}

.sidebar-button-part {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: #000000;
  opacity: 40%;
}

.sidebar-menu {
  width: 100px;
  height: auto;
  padding: 20px 0px;
  background-color: white;
  margin: 0px 10px;
  border-radius: 20px;
  transition: all 300ms;
  transform: translate(20vh, 0vh);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.274);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.sidebar-menu h1 {
  text-align: center;
  color: #ff4e8e;
  margin-bottom: 10px;
}

.sidebar-menu img {
  width: 70%;
  transition: all 200ms ease-in-out;
}

.sidebar-menu img:hover {
  width: 85%;
}

.team-card {
  display: flex;
  position: relative;
  display: flex;
  justify-content: center;
}

.team-desc {
  position: absolute;
  background-color: white;
  left: -25vh;
  width: 150%;
  padding: 5px;
  border-radius: 5px;
  visibility: hidden;
}

.team-desc h1,
.team-desc h3 {
  text-align: left;
}

/* home section */

#home {
  background-color: var(--blokadu-red);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

#home p {
  margin-top: 20px;
  color: white;
  opacity: 0%;
  width: 500px;
  text-align: center;
  animation: opacity-text 800ms 1800ms ease-in-out forwards;
  user-select: none;
}

#home .blokadu {
  height: fit-content;
  width: fit-content;
  display: flex;
  gap: 10px;
  user-select: none;
  opacity: 0%;
  animation: blokadu 500ms 200ms forwards;
}

.blokadu h1 {
  font-size: var(--text-size-blokadu);
  color: white;
}

/* blokadu animation */
.blokadu .b {
  animation: b 200ms 1000ms forwards;
}

.blokadu .l {
  animation: l 200ms 1000ms forwards;
}

/* o container */
.blokadu .container_o {
  position: relative;
}

.blokadu .o {
  animation: o 200ms ease-in-out 1200ms forwards;
}

.blokadu .line {
  background-color: white;
  width: 50px;
  height: 15px;
  position: absolute;
  bottom: 8px;
  left: 12px;
  animation: theLine 200ms ease-in-out 1150ms forwards;
  opacity: 0%;
}

.blokadu .k {
  animation: k 200ms ease-in-out 1100ms forwards;
}

.blokadu .a {
  animation: a 200ms ease-in-out 1000ms forwards;
}

.blokadu .d {
  animation: d 200ms ease-in-out 1150ms forwards;
}

.blokadu .u {
  animation: u 200ms ease-in-out 1200ms forwards;
}
/* block */

.block {
  position: absolute;
  width: 200px;
  height: 50px;
  background-color: var(--blokadu-blue);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.274);
  transform: translateX(200vh) rotate(0deg) translateY(100px);
  user-select: none;
}

.block.dragging {
  cursor: grabbing;
}

.block1 {
  background-color: #2370cb;
  animation: balok1 700ms 1500ms ease-in-out forwards;
}
.block2 {
  background-color: #f8d000;
  animation: balok2 700ms 1400ms ease-in-out forwards;
}
.block3 {
  background-color: #cb2345;
  animation: balok3 700ms 1400ms ease-in-out forwards;
}

/* Perkenalin section */
.content-section {
  background-color: white;
  display: flex;
  align-items: top;
  justify-content: center;
  position: relative;
}

.character-container {
  display: flex;
  margin-top: 100px;
}

.character-card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.primary-text {
  font-size: var(--text-size-secopndary-prime);
  color: black;
  opacity: 40%;
  margin: 65px;
  text-align: center;
}

.character-image {
  width: 500px;
  height: auto;
  z-index: 10;
}

.character-name {
  font-size: 120px;
  color: var(--blokadu-blue);
  left: 6vh;
  top: -5vh;
  text-align: center;
  position: absolute;
  z-index: 9;
}

#nara {
  color: var(--blokadu-red);
  left: 25vh;
  top: -5vh;
  text-align: center;
  position: absolute;
  z-index: 9;
}

#edu {
  color: var(--blokadu-blue);
  left: 6vh;
  top: -5vh;
  text-align: center;
  position: absolute;
  z-index: 9;
}

/* Produk section */

#product {
  background-color: aliceblue;
}

.product-items {
  gap: 5px;
  display: flex;
  justify-content: center;
  gap: 15vh;
}

.product-item {
  width: fit-content;
  height: fit-content;
  margin: auto;
}

.product-item figure img {
  width: auto;
  height: 400px;
  margin: auto;
}

figure figcaption {
  color: var(--blokadu-red);
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

/* Cara main section */
#cara_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.image-cara_main {
  width: 1000px;
  height: auto;
  margin-top: 50px;
}

/* price section*/

#price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image img {
  width: 80%;
  min-width: 400px;
  height: auto;
  max-width: 600px;
}

.pricelist {
  align-self: center;
}

.pricelist .rupiah {
  display: flex;
  gap: 10px;
}

.rupiah h3 {
  font-size: 50px;
  color: black;
  opacity: 60%;
}
.rupiah h1 {
  color: #cb2345;
  font-size:100px;
}

.marketplace {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 40px;
}

.link {
  height: 70px;
  display: flex;
  gap: 10px;
}
.link a {
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 10px;
  font-size: 30px;
  font-weight: 500;
  color: white;
  transform: translate(0px, 0px);
  transition: all 200ms ease-in-out;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#shopee {
  background-color: #f7452e;
}

#tokped {
  background-color: green;
}

.link a:hover {
  transform: translate(0px, 10px);
}

/* footer */

footer {
  height: 200px;
  background-color: var(--blokadu-red);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#social_media {
  display: flex;
  gap: 20px;
}

#social_media a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}


@media (max-width: 700px) {
  
  #nav-bar{
    visibility: hidden;
  }

  .blokadu h1{
    font-size: 55px;
  }

  .blokadu .line {
    background-color: white;
    width: 30px;
    height: 7px;
    position: absolute;
    bottom: 8px;
    left: 5px;
    animation: theLine 200ms ease-in-out 1150ms forwards;
    opacity: 0%;
  }

  main #content {
    width: 100%;
    min-width: 200px;
    height: auto;
    background-color: #ff4e8e;
    margin: auto;
  }





  #content p{
    font-size: 13px;
    width: 60%;
  }

  #perkenalin{
    height: auto;
    flex-wrap: wrap;
  }

  .character-image{
    width: 400px;
  }

  .character-name{
    font-size: 50px;
  }

  .character-container{
    flex-direction: column;
  }

  .character-card{
    width: 80px;
    margin: 10px 0px;
  }

  #product{
    height: auto;
  }

  .product-items{
    flex-direction: column;
  }

  .image-cara_main{
    width: 100%;
  }

  #cara_main{
    height: auto;
  }

  #price{
    flex-direction: column;
    height: auto;

  }
  .rupiah h3{
    font-size: 30px;
  }

  .rupiah h1{
    font-size: 80px;
  }
}